port 26379
sentinel monitor ${REDIS_MASTER_SET} ${REDIS_MASTER_EXTERNAL_ADDRESS} 6379 ${REDIS_SENTINEL_QUORUM}
#sentinel auth-pass mymaster yourpassword
sentinel down-after-milliseconds ${REDIS_MASTER_SET} 5000
sentinel parallel-syncs ${REDIS_MASTER_SET} 1
sentinel failover-timeout ${REDIS_MASTER_SET} 10000
daemonize no
supervised no